{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/isakov.mastervision.su/memory-capabilities-2/",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "date": "2021-10-23T08:54:54.948Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "date": "2021-10-23T08:54:55.420Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1634989877317.222,
          "date": "2021-10-23T12:00:17.046Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1634995031177.0312,
          "date": "2021-10-23T13:17:20.911Z"
        },
        {
          "file": "fonts/GilroyBold.eot",
          "mtimeMs": 1602295704000,
          "date": "2021-10-23T08:54:57.512Z"
        },
        {
          "file": "fonts/GilroyBold.svg",
          "mtimeMs": 1602295704000,
          "date": "2021-10-23T08:54:58.302Z"
        },
        {
          "file": "fonts/GilroyBold.ttf",
          "mtimeMs": 1602295704000,
          "date": "2021-10-23T08:54:58.888Z"
        },
        {
          "file": "fonts/GilroyBold.woff",
          "mtimeMs": 1602295704000,
          "date": "2021-10-23T08:54:59.439Z"
        },
        {
          "file": "fonts/GilroyBold.woff2",
          "mtimeMs": 1602295704000,
          "date": "2021-10-23T08:55:00.068Z"
        },
        {
          "file": "fonts/GilroyLight.eot",
          "mtimeMs": 1588995544000,
          "date": "2021-10-23T08:55:00.736Z"
        },
        {
          "file": "fonts/GilroyLight.svg",
          "mtimeMs": 1588995542000,
          "date": "2021-10-23T08:55:01.627Z"
        },
        {
          "file": "fonts/GilroyLight.ttf",
          "mtimeMs": 1588995542000,
          "date": "2021-10-23T08:55:02.239Z"
        },
        {
          "file": "fonts/GilroyLight.woff",
          "mtimeMs": 1588995544000,
          "date": "2021-10-23T08:55:02.988Z"
        },
        {
          "file": "fonts/GilroyLight.woff2",
          "mtimeMs": 1588995544000,
          "date": "2021-10-23T08:55:03.726Z"
        },
        {
          "file": "fonts/GilroyRegular.eot",
          "mtimeMs": 1602294934000,
          "date": "2021-10-23T08:55:04.723Z"
        },
        {
          "file": "fonts/GilroyRegular.svg",
          "mtimeMs": 1602294934000,
          "date": "2021-10-23T08:55:06.025Z"
        },
        {
          "file": "fonts/GilroyRegular.ttf",
          "mtimeMs": 1602294934000,
          "date": "2021-10-23T08:55:06.829Z"
        },
        {
          "file": "fonts/GilroyRegular.woff",
          "mtimeMs": 1602294934000,
          "date": "2021-10-23T08:55:07.450Z"
        },
        {
          "file": "fonts/GilroyRegular.woff2",
          "mtimeMs": 1602294936000,
          "date": "2021-10-23T08:55:08.088Z"
        },
        {
          "file": "img/backs/for.png",
          "mtimeMs": 1634978531319.0898,
          "date": "2021-10-23T08:55:09.017Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1634978551607.2803,
          "date": "2021-10-23T08:55:09.832Z"
        },
        {
          "file": "img/icons/gear.png",
          "mtimeMs": 1634978556978.9675,
          "date": "2021-10-23T08:55:10.457Z"
        },
        {
          "file": "img/icons/lets.png",
          "mtimeMs": 1634978562474.6482,
          "date": "2021-10-23T08:55:11.724Z"
        },
        {
          "file": "img/icons/soc-buttons.jpg",
          "mtimeMs": 1603097200514,
          "date": "2021-10-23T09:50:40.765Z"
        },
        {
          "file": "img/icons/tube.png",
          "mtimeMs": 1634978568251.2148,
          "date": "2021-10-23T08:55:14.229Z"
        },
        {
          "file": "img/images/day-1.png",
          "mtimeMs": 1634978741219.5647,
          "date": "2021-10-23T08:55:14.996Z"
        },
        {
          "file": "img/images/day-2.png",
          "mtimeMs": 1634978746670.2202,
          "date": "2021-10-23T08:55:15.562Z"
        },
        {
          "file": "img/images/gift.png",
          "mtimeMs": 1634978754597.061,
          "date": "2021-10-23T08:55:16.073Z"
        },
        {
          "file": "img/images/isakov-main.png",
          "mtimeMs": 1634978765720.4844,
          "date": "2021-10-23T08:55:16.757Z"
        },
        {
          "file": "img/images/isakov.png",
          "mtimeMs": 1634978759713.3574,
          "date": "2021-10-23T08:55:17.446Z"
        },
        {
          "file": "img/images/laptop.png",
          "mtimeMs": 1634978773302.4329,
          "date": "2021-10-23T08:55:18.143Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1634978777920.5518,
          "date": "2021-10-23T08:55:18.683Z"
        },
        {
          "file": "img/images/main-1.png",
          "mtimeMs": 1634978784130.3254,
          "date": "2021-10-23T08:55:19.365Z"
        },
        {
          "file": "img/images/main-2.png",
          "mtimeMs": 1634978790125.6257,
          "date": "2021-10-23T08:55:20.007Z"
        },
        {
          "file": "img/revs/rev-1.jpg",
          "mtimeMs": 1634979180885.2444,
          "date": "2021-10-23T08:55:20.573Z"
        },
        {
          "file": "img/revs/rev-10.jpg",
          "mtimeMs": 1634979226987.9084,
          "date": "2021-10-23T08:55:21.145Z"
        },
        {
          "file": "img/revs/rev-11.jpg",
          "mtimeMs": 1634979233699.7402,
          "date": "2021-10-23T08:55:21.740Z"
        },
        {
          "file": "img/revs/rev-12.jpg",
          "mtimeMs": 1634979238401.507,
          "date": "2021-10-23T08:55:22.287Z"
        },
        {
          "file": "img/revs/rev-2.jpg",
          "mtimeMs": 1634979185479.8762,
          "date": "2021-10-23T08:55:22.856Z"
        },
        {
          "file": "img/revs/rev-3.jpg",
          "mtimeMs": 1634979190735.2695,
          "date": "2021-10-23T08:55:23.514Z"
        },
        {
          "file": "img/revs/rev-4.jpg",
          "mtimeMs": 1634979194905.2297,
          "date": "2021-10-23T08:55:24.067Z"
        },
        {
          "file": "img/revs/rev-5.jpg",
          "mtimeMs": 1634979199172.6365,
          "date": "2021-10-23T08:55:24.575Z"
        },
        {
          "file": "img/revs/rev-6.jpg",
          "mtimeMs": 1634979205089.8267,
          "date": "2021-10-23T08:55:25.264Z"
        },
        {
          "file": "img/revs/rev-7.jpg",
          "mtimeMs": 1634979211927.1472,
          "date": "2021-10-23T08:55:25.828Z"
        },
        {
          "file": "img/revs/rev-8.jpg",
          "mtimeMs": 1634979216249.306,
          "date": "2021-10-23T08:55:26.375Z"
        },
        {
          "file": "img/revs/rev-9.jpg",
          "mtimeMs": 1634979221810.438,
          "date": "2021-10-23T08:55:26.960Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1634890057403.1604,
          "date": "2021-10-23T08:55:27.799Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1634914441785.4253,
          "date": "2021-10-23T08:55:28.298Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1634993508598.1926,
          "date": "2021-10-23T12:53:20.009Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1575136388342.6985,
          "date": "2021-10-23T09:50:41.359Z"
        },
        {
          "file": "img/images/promo-main-1.png",
          "mtimeMs": 1634982593611.6248,
          "date": "2021-10-23T09:50:41.995Z"
        },
        {
          "file": "img/images/promo-main-2.png",
          "mtimeMs": 1634982599051.376,
          "date": "2021-10-23T09:50:42.750Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1634982124486.3752,
          "date": "2021-10-23T09:50:43.224Z"
        },
        {
          "file": "confirm/index.html",
          "mtimeMs": 1634983016122.8557,
          "date": "2021-10-23T09:57:19.757Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1630575626529.709,
          "date": "2021-10-23T09:56:29.018Z"
        },
        {
          "file": "fonts/GilroyBlack.eot",
          "mtimeMs": 1583403298000,
          "date": "2021-10-23T09:56:29.774Z"
        },
        {
          "file": "fonts/GilroyBlack.svg",
          "mtimeMs": 1583403298000,
          "date": "2021-10-23T09:56:30.558Z"
        },
        {
          "file": "fonts/GilroyBlack.ttf",
          "mtimeMs": 1583403298000,
          "date": "2021-10-23T09:56:31.316Z"
        },
        {
          "file": "fonts/GilroyBlack.woff",
          "mtimeMs": 1583403298000,
          "date": "2021-10-23T09:56:31.913Z"
        },
        {
          "file": "fonts/GilroyBlack.woff2",
          "mtimeMs": 1583403298000,
          "date": "2021-10-23T09:56:32.659Z"
        },
        {
          "file": "fonts/GilroyMedium.eot",
          "mtimeMs": 1583403344000,
          "date": "2021-10-23T09:56:33.320Z"
        },
        {
          "file": "fonts/GilroyMedium.svg",
          "mtimeMs": 1583403344000,
          "date": "2021-10-23T09:56:34.125Z"
        },
        {
          "file": "fonts/GilroyMedium.ttf",
          "mtimeMs": 1583403342000,
          "date": "2021-10-23T09:56:34.781Z"
        },
        {
          "file": "fonts/GilroyMedium.woff",
          "mtimeMs": 1583403344000,
          "date": "2021-10-23T09:56:35.342Z"
        },
        {
          "file": "fonts/GilroyMedium.woff2",
          "mtimeMs": 1583403344000,
          "date": "2021-10-23T09:56:35.925Z"
        },
        {
          "file": "fonts/Muller.eot",
          "mtimeMs": 1583541238000,
          "date": "2021-10-23T09:56:36.548Z"
        },
        {
          "file": "fonts/Muller.svg",
          "mtimeMs": 1583541236000,
          "date": "2021-10-23T09:56:38.027Z"
        },
        {
          "file": "fonts/Muller.ttf",
          "mtimeMs": 1583541236000,
          "date": "2021-10-23T09:56:38.708Z"
        },
        {
          "file": "fonts/Muller.woff",
          "mtimeMs": 1583541236000,
          "date": "2021-10-23T09:56:39.387Z"
        },
        {
          "file": "fonts/Muller.woff2",
          "mtimeMs": 1583541238000,
          "date": "2021-10-23T09:56:39.951Z"
        },
        {
          "file": "fonts/MullerBold.eot",
          "mtimeMs": 1583541238000,
          "date": "2021-10-23T09:56:40.587Z"
        },
        {
          "file": "fonts/MullerBold.svg",
          "mtimeMs": 1583541236000,
          "date": "2021-10-23T09:56:41.340Z"
        },
        {
          "file": "fonts/MullerBold.ttf",
          "mtimeMs": 1583541236000,
          "date": "2021-10-23T09:56:42.252Z"
        },
        {
          "file": "fonts/MullerBold.woff",
          "mtimeMs": 1583541236000,
          "date": "2021-10-23T09:56:42.949Z"
        },
        {
          "file": "fonts/MullerBold.woff2",
          "mtimeMs": 1583541236000,
          "date": "2021-10-23T09:56:43.624Z"
        },
        {
          "file": "fonts/MullerItalic.eot",
          "mtimeMs": 1583541238000,
          "date": "2021-10-23T09:56:44.259Z"
        },
        {
          "file": "fonts/MullerItalic.svg",
          "mtimeMs": 1583541236000,
          "date": "2021-10-23T09:56:45.187Z"
        },
        {
          "file": "fonts/MullerItalic.ttf",
          "mtimeMs": 1583541236000,
          "date": "2021-10-23T09:56:45.828Z"
        },
        {
          "file": "fonts/MullerItalic.woff",
          "mtimeMs": 1583541236000,
          "date": "2021-10-23T09:56:46.399Z"
        },
        {
          "file": "fonts/MullerItalic.woff2",
          "mtimeMs": 1583541238000,
          "date": "2021-10-23T09:56:46.955Z"
        },
        {
          "file": "img/confirm/confirm-img.png",
          "mtimeMs": 1583560678199.4304,
          "date": "2021-10-23T09:56:47.597Z"
        },
        {
          "file": "img/confirm/confirm-logo.png",
          "mtimeMs": 1606305683022.4316,
          "date": "2021-10-23T09:56:48.185Z"
        },
        {
          "file": "img/confirm/gmail.png",
          "mtimeMs": 1583560688781.459,
          "date": "2021-10-23T09:56:48.716Z"
        },
        {
          "file": "img/confirm/mailru.png",
          "mtimeMs": 1583560692773.1108,
          "date": "2021-10-23T09:56:49.277Z"
        },
        {
          "file": "img/confirm/rambler.png",
          "mtimeMs": 1583560696989.911,
          "date": "2021-10-23T09:56:49.826Z"
        },
        {
          "file": "img/confirm/title-bg.png",
          "mtimeMs": 1583560701842.1335,
          "date": "2021-10-23T09:56:50.513Z"
        },
        {
          "file": "img/confirm/yandex.png",
          "mtimeMs": 1583560706978.5457,
          "date": "2021-10-23T09:56:51.024Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
