#main
	background-color: #E8E7E2
	position relative
	overflow hidden
	@media screen and (max-width 1199px)
		padding-bottom: 100px
	@media screen and (max-width 991px)
		padding 0 0 60px
	@media screen and (max-width 386px)
		padding 0 0 40px
.main
	&-img-back
		position absolute
		left -150px
		bottom: -100px
		@media screen and (max-width 991px)
			left -15%
	&-pre
		font-size: 25px
		margin: 50px 0 30px
		span
			text-transform uppercase
			font-weight: bold
		@media screen and (max-width 1199px)
			font-size: 20px
		@media screen and (max-width 991px)
			text-align center
			margin 0 0 10px
		@media screen and (max-width 560px)
			font-size: 16px
			span
				display block
	&-title
		font-size: 66px
		font-weight: bold
		color #543f2a
		@media screen and (max-width 991px)
			font-size: 56px
			text-align center
		@media screen and (max-width 560px)
			font-size: 38px
	&-info
		padding-left: 40px
		background-image: url(../img/icons/gear.png)
		background-repeat: no-repeat
		background-position: left center
		background-size: contain
		margin 50px 0
		&-text
			font-size: 20px
			span
				display inline-block
				font-weight: bold
		@media screen and (max-width 991px)
			width 100%
			max-width 230px
			margin 40px auto
		@media screen and (max-width 560px)
			padding-left: 30px
			max-width 200px
			// background-size: 20px
			&-text
				font-size: 18px
	&-img
		position relative
		padding-top: 100%
		@media screen and (max-width 991px)
			padding 0
		&-image-1
			position absolute
			left -300px
			bottom: 0
			@media screen and (max-width 1200px)
				top 0
			@media screen and (max-width 991px)
				top 100px
				left auto
				right -200px
.button-main
	margin-left: 0
	@media screen and (max-width 991px)
		margin-left: auto