#target
	padding 90px 0
	@media screen and (max-width 991px)
		padding 60px 0
	@media screen and (max-width 386px)
		padding 40px 0
.target-text
	font-size: 22px
	padding 35px
	background-color: #F7F7F3
	border 2px dashed #ffa758
	border-radius: 10px
	box-shadow: 0 0 0 5px #F7F7F3
	text-align center
	span
		font-weight: bold
	@media screen and (max-width 560px)
		font-size: 18px
		padding 20px