#plan
	padding 80px 0
	@media screen and (max-width 991px)
		padding 60px 0
	@media screen and (max-width 386px)
		padding 40px 0
.plan-text
	text-align center
	font-size: 22px
	margin-bottom: 20px
	&:last-of-type
		margin-bottom: 50px
	@media screen and (max-width 560px)
		font-size: 20px
.packet
	border-radius: 5px
	background-color #fff
	background-repeat no-repeat
	background-size: 420px
	min-height 500px
	&:nth-child(2n)
		padding 35px 500px 50px 60px
		background-position: top 35px right 35px
		@media screen and (max-width 991px)
			padding 300px 30px 30px
			background-position: top 30px center
			background-size: auto 240px
		@media screen and (max-width 386px)
			padding 200px 20px 30px
			background-position: top center
			background-size: auto 180px
	&:nth-child(2n+1)
		padding 35px 50px 60px 500px
		background-position: top 35px left 35px
		margin 20px auto 40px
		@media screen and (max-width 991px)
			padding 300px 30px 30px
			background-position: top 30px center
			background-size: auto 240px
		@media screen and (max-width 386px)
			padding 230px 20px 30px
			background-position: top 30px center
			background-size: auto 180px
	&-1
		background-image: url(../img/images/packet-1.png)
	&-2
		background-image: url(../img/images/packet-2.png)
	&-3
		background-image: url(../img/images/packet-3.png)
	&-4
		background-image: url(../img/images/packet-4.png)
	&-5
		background-image: url(../img/images/packet-5.png)
	&-6
		background-image: url(../img/images/packet-6.png)
	&-7
		background-image: url(../img/images/packet-7.png)
	&-8
		background-image: url(../img/images/packet-8.png)
	&-title
		font-size: 25px
		font-weight: bold
		text-transform uppercase
		margin-bottom: 20px
		small
			display block
			font-size: 18px
			font-weight: 100
			text-transform none
		@media screen and (max-width 560px)
			font-size: 20px
	&-bonus
		margin-top: 30px
		padding-left: 35px
		background-image: url(../img/images/gift.png)
		background-repeat no-repeat
		background-position: left top
		background-size 25px
		font-weight: bold
		margin-bottom: 30px
		&:last-of-type
		&&-2
			margin-bottom: 0
		@media screen and (max-width 386px)
			padding 35px 0 0