#prices
	padding 80px 0
	background-color: #E3DAE0
	margin-top: 80px
	.row:nth-child(3)
		background-image: url(../img/images/day-2.png)
		background-repeat: no-repeat
		background-position: center
	@media screen and (max-width 991px)
		padding 60px 0
		margin-top: 60px
	@media screen and (max-width 386px)
		padding 40px 0
		margin-top: 40px
.package
	padding 30px 20px
	border-radius: 9px
	text-align center
	width 100%
	max-width 360px
	margin 0 auto 40px
	background-color: rgba(#F7F7F3, .9)
	&-head
		padding-bottom: 20px
		min-height 115px
		@media screen and (max-width 560px)
			min-height 1px
		&-title
			font-size: 24px
			font-weight: bold
			text-transform uppercase
			color #543F2A
			small
				color #000
				display block
				font-size: 16px
				font-weight: 100
				text-transform none
			@media screen and (max-width 1199px)
				font-size: 20px
			@media screen and (max-width 560px)
				font-size: 18px
				small
					font-size: 14px
.cost
	font-size: 26px
	span
		text-transform uppercase
		display block
		font-size: 48px
		font-weight: bold
		color red
		margin 0 0 20px
	@media screen and (max-width 560px)
		font-size: 24px
		span
			font-size: 36px
.prepayment
	text-align center
	&-title
		font-size: 48px
		font-weight: bold
		text-transform uppercase
		color red
		@media screen and (max-width 560px)
			font-size: 36px
	&-text
		font-size: 20px
		margin 20px 0 40px
		span
			font-weight: bold
		@media screen and (max-width 560px)
			font-size: 18px
			margin 20px 0 30px