header
	a(href="https://mastervision.su", target="_blank")
		img.header-logo(src=path+"img/images/logo.png", alt="Логотип")
	.contacts
		p.contact.contact-tel Перезвонить:
			a(href="tel:84951520801" target="_blank") 8-495-152-08-01
		p.contact.contact-email E-mail:
			a(href="mailto:info@mastervision.su" target="_blank") info@mastervision.su