#plan
	padding 80px 0
.day
	border-radius: 5px
	background-color #fff
	width 100%
	max-width 1000px
	margin: 0 auto
	&-1
		padding 35px 500px 50px 60px
		background-image: url(../img/images/day-1.png)
		background-repeat no-repeat
		background-position: right -100px  center
		background-size: auto 100%
	&-2
		padding 35px 50px 60px 500px
		background-image: url(../img/images/day-2.png)
		background-repeat no-repeat
		background-position: left 30px center
		margin 20px auto 40px
	&-title
		font-size: 25px
		font-weight: bold
		text-transform uppercase
		margin-bottom: 20px
	&-bonus
		margin-top: 30px
		padding-left: 70px
		background-image: url(../img/images/gift.png)
		background-repeat no-repeat
		background-position: left center
		font-weight: bold