#last
	padding 120px 0 90px
	text-align center
	background-color: #E3DAE0
	margin-top: 60px
.last
	&-title
		font-size: 45px
		font-weight: bold
		text-transform uppercase
	&-text
		font-size: 24px
		text-transform uppercase
		margin 30px 0 40px