mixin fi(n, p)
	.for-item(class='for-item-' + n)
		p.for-item-text=p

section#for
	.container
		+gt('', 'Этот мастер-класс необходим тем, кто:')
		.row
			.col-md-4
				+fi('1', 'Жалуется на плохую память')
				+fi('2', 'Испытывает проблемы с изучением иностранного языка')
				+fi('3', 'Чувствует, как день ото дня ухудшается память')
			.col-md-4.col-md-push-4
				+fi('7', 'Считает, что раньше память была лучше')
				+fi('8', 'Уже очень давно не тренировал мозги')
				+fi('9', 'Ощущает навязчивое чувство, что тупеет')
				+fi('10', 'Не может освоить новую специальность на 100%')
			.col-md-4.col-md-pull-4
				+fi('4', 'Всё время забывает имена')
				+fi('5', 'Страдает от плохой концентрации и рассеянного внимания')
				+fi('6', 'Плохо успевает в школе / университете')
				+b('button-up button-for', href, 'Прокачать память')