section#plan
	.container
		+gt('', 'План мастер-класса')
		.day.day-1
			h4.day-title День 1
			ul.general-list
				li Влияние интернета на наши память и внимание
				li Виды памяти
				li Влияние интернета 
				li на кратковременную рабочую память
				li Число Миллера
				li История искусства запоминания
				li Дворцы памяти. Как запомнить список дел
				li Польза мнемотехники
				li Тест Торренса
			p.day-bonus Бонус: пальминг – эффективный способ перезарядиться, а также снять усталость с тела и глаз
		.day.day-2
			h4.day-title День 2
			ul.general-list
				li Повторение тем первого дня
				li Особенности устройства мозга у мнемонистов
				li Физические изменения мозга на примере лондонских таксистов
				li Число Данбара
				li Прейдолия
				li Практика. Запоминаем лица людей
			p.day-bonus Бонус: фингер-фитнес – эффективный способ активизировать мозг где угодно и когда угодно
		+b('button-up', href, 'Мне это нужно')