section#author
	.container
		+gt('general-title-author general-title-author-1', 'О тренере')
		+gt('general-title-author general-title-author-2', 'Илья Исаков')
		+imgs('author-img', 'img/images/isakov.png', 'Илья Исаков')
		.author-info
			.row
				.col-md-6
					.general-wrapper.general-wrapper-author
						ul.general-list
							li Санкт-Петербургский университет Петра Великого (бакалавриат)
							li Московская академия профессиональных компетенций (специальность «Учитель»)
							li Выпускник Академии смысла Андрея Курпатова
							li Закончил ATC Language School в Дублине – владение английским на уровне C1
							li Выучил итальянский до уровня А2 за 60 часов (запоминал 1000 итальянских слов в день).
							li Обладатель 3 рекордов России
				.col-md-6
					.general-wrapper.general-wrapper-author
						ul.general-list
							li Опыт работы преподавателем – 5 лет
							li Провёл более 100 курсов
							li У него учились более 3000 учеников из разных городов и стран, среди которых – студенты ВУЗов, школьники, бизнесмены, политики, актёры и т.д.
							li Тренер интеллектуальной сборной. Подопечные занимали призовые места на чемпионатах по памяти
							li Серебряный призёр открытого кубка России по памяти в 2018 году
							li Бронзовый призёр первого Чемпионата России по спортивному запоминанию