section#target
	.container
		p.target-text
			span Цель курса 
			| – развить в людях навыки высокоэффективного самообучения. По заявлению футурологов, в ближайшем будущем люди будут осваивать по 5 профессий за жизнь. Навыки, которые вы получите на курсе, позволят вам идти в ногу со временем, обучаясь быстрее, и оставаться востребованным специалистом в любых экономических условиях