mixin fi(n, p)
	.for-item(class='for-item-' + n)
		p.for-item-text=p

section#for
	.container
		+gt('', 'Этот курс для тех, кто хочет:')
		.row
			.col-md-4
				+fi('1', 'Узнать, как использовать возможности памяти на 100%')
				+fi('2', 'Повысить способности к запоминанию в 2-4 раза')
				+fi('3', 'Научиться принимать взвешенные решения по жизни')
				+fi('4', 'Всегда помнить всю важную информацию, не рассчитывая на записные книжки, заметки, гаджеты')
			.col-md-4.col-md-push-4
				+fi('9', 'Повысить свои знания о мире и обществе, тем самым снижая риски быть обманутым')
				+fi('10', 'В любой критической ситуации пользоваться умением держать большое количество информации в голове')
				+fi('11', 'Ориентироваться в незнакомых местах')
				+fi('12', 'Избавиться от рассеянности и забывчивости')
				+fi('13', 'Облегчить любой процесс обучения и запоминания')
			.col-md-4.col-md-pull-4
				+fi('5', 'Развить свой мозг и улучшить общее самочувствие')
				+fi('6', 'Найти новое окружение и общаться с умными, развитыми людьми')
				+fi('7', 'Вернуть уверенность в себе за счёт улучшения памяти')
				+fi('8', 'Забыть про неловкие моменты, когда память Вас подводила')
				+b('button-for', href, 'Прокачать память')