section#plan
	.container
		+gt('', 'План курса')
		p.plan-text Курс строится по принципу конструктора
		p.plan-text Каждый пакет - это отдельный, завершенный продукт. Ученики сами выбирают, какие мини-курсы им интересно изучить и создают из него свой большой, уникальный курс
		.packet.packet-1
			h4.packet-title
				small пакет
				| «ЗАПОМИНАНИЕ ИНОСТРАННЫХ СЛОВ»
			ul.general-list
				li Тестирование. Смысл набора слов, когда это актуально. Контекст, применение, вывод в актив. Зачем ДЗ?
				li Соединение образов:
				ul.general-sublist
					li важность зрительной памяти, её сила; основной навык в мнемотехнике,
					li оперативная память,
					li как соединять образы, практика,
					li проверка
				li Звуковые ассоциации. Слоги, слова
				li Запоминание слов существительных на примере языка
				li Запоминание глаголов и прилагательных
				li Марафон по запоминанию слов
				li Тест итоговый
			p.packet-bonus Бонус: Вспомогательные сайты: контекст реверсо, мультитран, квизлет
			p.packet-bonus Бонус: Неправильные глаголы
		.packet.packet-2
			h4.packet-title
				small пакет
				| «ЗАПОМИНАНИЕ ЧИСЕЛ»
			ul.general-list
				li Тестирование. Особенность запоминания чисел: в чем сложность, какие результаты у мнемотехников, которые всю жизнь запоминают числа? Как к этому придут. Зачем ДЗ?
				li Соединение образов:
				ul.general-sublist
					li важность зрительной памяти, её сила, основной навык в 					li мнемотехнике,
					li оперативная память,
					li как соединять образы, практика,
					li проверка
				li Базовая система. Отработка на списке покупок, рейтингах стран
				li Основная система. Запоминание числовой информации
				li Основная система. телефоны, индексы, пароли
				li Отработка основной системы. Даты + характеристики
				li Тестирование
		.packet.packet-3
			h4.packet-title
				small пакет
				| «ЗАПОМИНАНИЕ ПОСЛЕДОВАТЕЛЬНОСТЕЙ»
			ul.general-list
				li Тестирование. Запомнить 30 слов по порядку
				li Соединение образов:
				ul.general-sublist
					li важность зрительной памяти, её сила; основной навык в мнемотехнике,
					li оперативная память,
					li как соединять образы, практика,
					li проверка
				li Запоминание простых последовательностей. Дворцы памяти
				li Полезные продукты для мозга
				li Запоминание династии правителей
				li Запоминание мыслей из текста, книги. Запоминание мыслей
				li Выступления
				li Тест
		.packet.packet-4
			h4.packet-title
				small пакет
				| «ГЕОГРАФИЯ»
			ul.general-list
				li Тест. Что вы знаете о Южной Америке? Расположение на карте, столица, флаг, природные объекты. Почему ЮА?
				li Расположение стран ЮА
				li Природные объекты ЮА
				li Флаги ЮА
				li Столицы ЮА
				li Расположение стран Европы
				li Расположение стран Азии
				li Тест. Расположение на карте, столица, флаг, природные объекты
			p.packet-bonus Бонус: ассоциации на все страны, столицы
		.packet.packet-5
			h4.packet-title
				small пакет
				| «ЗАПОМИНАНИЕ ИМЁН И ЛИЦ»
			ul.general-list
				li Тест. 20 лиц и имен. 3 минуты
				li Запоминание простых имён
				li Запоминание сложных имен. Звуковые ассоциации
				li Запоминание имени и фамилии. Знаменитости
				li Запоминание имени и отчества. Писатели
				li Тесты 20 лиц и имен
		.packet.packet-6
			h4.packet-title
				small пакет
				| «РАБОТА С ТЕКСТАМИ»
			ul.general-list
				li Постановка цели для чтения книг. Как выбрать книгу под задачу 
				li Метод пиктограмм. Перевод текстовой информации в графическую  
				li Метод карточек. Техники запоминания определений и идей из книги
				li Снятие сливок. Техника нахождения главного в тексте. Техника «Помидор»
				li Интеллект-карты. Техника структурирования информации 
				li ДСМ - система мозга. Влияние книг на наше мышление. Правило 23 минут. Метод Корнуэлла
				li Дворцы памяти, звуковые ассоциации
				li Техника «Сканирование». Обогащение запомненной информации из книги
			p.packet-bonus.packet-bonus-2 Бонус: «Чтение художественной литературы»
				ul.general-list.general-sublist
					li как выбрать книгу
					li как решить, что читать, а что нет
					li анализ книг
					li как мотивировать себя читать художку
					li что развивает чтение художественной литературы?
		.packet.packet-7
			h4.packet-title
				small пакет
				| «АНГЛИЙСКИЙ ДЛЯ ТЕХ, У КОГО МАЛО ВРЕМЕНИ»
			ul.general-list
				li Пакет включает 10 аудиоуроков, в каждом из которых – по 15 новых английских слов
				li Все уроки созданы в компактном формате (по 10-15 минут). Это значит, что их можно слушать буквально на бегу – на перерыве или в дороге, без отрыва от важных дел
				li А ещё 4 урока с обзором НЕОБХОДИМОЙ грамматики и её отработкой на нужных примерах
		.packet.packet-8
			h4.packet-title
				small пакет
				| «ЗАПОМИНАНИЕ ПРАВОПИСАНИЯ СЛОВ»
			ul.general-list
				li Правописание:
				ul.general-sublist
					li воронка (правильная работа с информацией и ошибками),
					li принцип троечника (правильная работа с информацией, повышение скорости мышления),
					li запоминание правописания в словах с удвоенной согласной,
					li запоминание правописания в словах с дефисом,
					li запоминание раздельного написания слов,
					li запоминание написания словарных слов
				p.packet-bonus Бонус: список из 375 словарных слов
				li Ударения:
				ul.general-sublist
					li воронка (правильная работа с информацией и ошибками),
					li принцип троечника (правильная работа с информацией, повышение скорости мышления),
					li 3 техники для запоминания правильной постановки ударения
				p.packet-bonus Бонус: материалы с 315 словами со сложным ударением
				li Пунктуация:
				ul.general-sublist
					li воронка (правильная работа с информацией и ошибками),
					li принцип троечника (правильная работа с информацией, повышение скорости мышления),
					li запоминание правил постановки тире в сложных предложениях,
					li запоминание правил постановки двоеточия в сложных предложениях,
					li запоминание правил постановки точки с запятой в сложных предложениях,
					li запоминание правил постановки запятой в сложных предложениях,
					li паттерны (эффективная техника отработки правил правописания)
				p.packet-bonus Бонус: материалы для отработки сложных предложений + интеллект-карты для запоминания правил
		+b('button-up', href, 'Записаться')