mixin li(n, p)
	.col-md-4
		.result-item(class='result-item-' + n)
			if n <10
				.result-item-title!='0'+n
			else
				.result-item-title!=n
			p.result-item-text!=p

section#results
	.container
		+gt('', 'Мастер-класс позволит Вам:')
		.result-items
			.row
				+li('1', 'Интенсивно<br> прокачать мозг')
				+li('2', 'Освоить навыки, которые ускорят результативность обучения в несколько раз')
				+li('3', 'Запоминать в 2-3 раза больше информации, чем обычно')
			.row
				+li('4', 'Повысить свою креативность и интеллектуальную выносливость')
				+li('5', 'Узнать простые лайфхаки, которые будут держать Ваш мозг в тонусе')
				+li('6', 'Узнать информацию, дающую интеллектуальное превосходство')
			.row
				+li('7', 'Интенсивно<br> прокачать мозг')
				+li('8', 'Освоить навыки, которые ускорят результативность обучения в несколько раз')
				+li('9', 'Запоминать в 2-3 раза больше информации, чем обычно')
			.row
				+li('10', 'Повысить свою креативность и интеллектуальную выносливость')
				+li('11', 'Узнать простые лайфхаки, которые будут держать Ваш мозг в тонусе')
				+li('12', 'Узнать информацию, дающую интеллектуальное превосходство')
			.row
				+li('13', 'Интенсивно<br> прокачать мозг')
				+li('14', 'Освоить навыки, которые ускорят результативность обучения в несколько раз')
				+li('15', 'Запоминать в 2-3 раза больше информации, чем обычно')
			.row
				+li('16', 'Повысить свою креативность и интеллектуальную выносливость')
				+li('17', 'Узнать простые лайфхаки, которые будут держать Ваш мозг в тонусе')
				+li('18', 'Узнать информацию, дающую интеллектуальное превосходство')
			.row
				+li('19', 'Интенсивно<br> прокачать мозг')
				+li('20', 'Освоить навыки, которые ускорят результативность обучения в несколько раз')
				+li('21', 'Запоминать в 2-3 раза больше информации, чем обычно')
		+b('', href, 'Прокачать память')